#widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}


.xplor-trigger-button {
    visibility: hidden;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #FFFFFF;
    margin-left: 5px;
}

.theia-TreeNode:hover .xplor-trigger-button {
    visibility: visible;
}

.lm-Widget.dialogOverlay .dialogTitle {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 40px 35px 10px 40px;
    background-color: #28272C;
}


.lm-Widget.dialogOverlay .dialogContent {
    z-index: 1;
    background-color: #28272C;
    padding-left: 19px;
    padding-right: 40px;

}

.lm-Widget.dialogOverlay .dialogControl {
    background-color: #28272C;
    padding: 10px 40px 40px 40px;

}


.lm-Widget.dialogOverlay .dialogBlock {
    width: 630px;
}

.title-form {
    color: rgba(243,243,254,0.7) !important;
}

.input-text {
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: #41414c;
    color: #f3f3fe !important;
}

.theia-button {
    padding: 15px 20px 15px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.menu-item {
    z-index: 10;
}

.lm-Widget.dialogOverlay {
    z-index: 1000 !important;
}
.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
    z-index: 6000;
}

.css-4nssmw-MuiFormLabel-root-MuiInputLabel-root {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.css-k9tl0o-MuiFormLabel-root-MuiInputLabel-root {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.css-12ews02-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    height: 40px;
}

.css-4y4r97-MuiTypography-root {
    margin-top: 15px !important;
    margin-bottom: 0px !important;
}